@use "utils/colors" as c;
@use "bulma";

.columns.full-height-content {
  min-height: calc(100vh - #{bulma.$navbar-height});
  max-height: calc(100vh - #{bulma.$navbar-height});
  height: calc(100vh - #{bulma.$navbar-height});
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  .column {
    overflow-y: auto
  }
}

.sidebar {
  background: c.$white-ter;
  padding: 10px;
  min-width: 200px;
  border-right: 1px solid #ccc;

  li {
    border-bottom: 1px solid c.$grey-light;

    a {
      border-left: 3px solid c.$white-ter;
      padding: 10px 10px 10px 12px;
      color: c.$black-bis;
      display: inline-block;
      width: 100%;
      font-size: 13px;

      &:hover {
        color: c.$blue;
        background-color: c.$white;
        border-left-color: c.$blue;
      }

      i {
        vertical-align: middle;
        font-size: 17px;
        margin-right: 10px;
      }

      .link-text {
        margin-bottom: 5px;
      }

      .unread-items-counter {
        margin-left: 2px;
        color: c.$red;
      }
    }
  }
}
